body{
    background-color: chocolate;
}
article{
    margin: 3em;
}
.title{
    font-size: 2em;
    color: crimson;
}
.logo{
    width: 200px;
}
.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 3px 3em 3px 3em;
    border-radius: 15%;
    transition: 1s;
    margin: auto;
}
/*pseudo selector*/
.cards:hover{
    background-color: rgb(255, 0, 140);
}

#principal{
    font-size: 4.5em;
}
#titulos{
    border: 2px solid black;
    /*viewport width tanto por centaje de pantalla*/
    width: 60vw;
    margin: auto;
    padding: 3em;
}
#imagen_principal{
    border: 2px solid transparent;
    width: fit-content;
    padding: 3em 3em 3em 3em;
    border-radius: 15%;
    margin: auto;
    
}